@keyframes wigglescale {
    20%
    {
        transform: scale(100%);
        background-color: white;
    }
    40%
    {
        transform: scale(125%) rotate(-20deg);
        background-color: white;
    }
    60%
    {
        transform: scale(150%) rotate(30deg);
        background-color: white;
    }
    80%
    {
        transform: scale(125%) rotate(-20deg);
        background-color: white;
    }
    100% {}
}
@keyframes wiggle {
    20%
    {
        transform: rotate(5deg);
    }
    40%
    {
        transform: rotate(-20deg);
    }
    60%
    {
        transform: rotate(30deg);
    }
    80%
    {
        transform: rotate(-20deg);
    }
    100% {}
}

body {
    background: rgb(20,20,20);
    color: rgb(200,200,200);
    padding:none;
    margin:none;
    width:auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    position:sticky;
    z-index: 1000;
    top: 0px;
    height:100px;
    width:auto;
    margin:none;
    padding:5px;
    background-color: rgb(0,0,0);

    font-family: 'Courier New', Courier, monospace;

    overflow:hidden;
}

.navbar > .nameandpic {
    position: absolute;
    right: 30px;
    top:30px;
    height:auto;
}



.navbar > .nameandpic > h1{
    width:50px;
    height:100%;

    text-align: center;

    border-radius:50%;
    display:inline;
}

.navbar > ul {
    width:auto;
}

.navbar > ul > li {
    font-size:100%;
    display:inline-block;
    padding:1%;

    cursor:pointer;

    color:white;
    border-left: 3px white solid;

    transition: 500ms;
}

.navbar > ul > li:hover {
    display:inline-block;
    padding:1%;

    color:rgb(200,100,50);
    border-left: 3px rgb(200,100,50) solid ;
}

#pagescrollprogress {
    height:10px;
    background: rgb(100,100,100);
    width:1px;
}

header {
    background-size:cover;
    margin:none;
    border:none;
    content:50%;
    padding:5%;
    width:1080;
    height:720;
    overflow:hidden;

    background: url("assets/images/House.png");

    border-bottom: 10px solid white;
}

header > img {
    border-radius: 50%;
    width:30%;
    height:30%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.wiggle {
    animation-name:wiggle;
    animation-duration: 700ms;
    animation-timing-function: cubic-bezier(.8,.8,1,1);
    animation-fill-mode: forwards;
}

header > h1 {
    text-align: center;
    font-size:600%;
    font-weight: bolder;
    color:rgba(255,255,255,.7);
}

.downarrow {
    width:50px;
    height:50px;
    transform:rotate(45deg) scale(1.5,1.5) translate(-2cm,-2cm);

    border-bottom: 10px solid rgba(200,200,200,.3);
    border-right: 10px solid rgba(200,200,200,.3);
    margin-left:auto;
    margin-right:auto;
    opacity:0%;
}

.uparrow {
    position: absolute;
    width:30px;
    height:30px;
    transform:rotate(45deg);
    top:50px;
    right:50px;

    border-top: 10px solid rgba(255,255,255,.4);
    border-left: 10px solid rgba(255,255,255,.4);
    margin-left:auto;
    margin-right:auto;
    transition-duration:500ms;
}

.imagedesc:hover > .uparrow {
    opacity:0%;
}
.rightarrow {
    width:50px;
    height:50px;
    transform:rotate(45deg) translate(-15%,15%);

    margin:auto;

    border-top: 10px solid rgb(200,200,200);
    border-right: 10px solid rgb(200,200,200);
}

.leftarrow {
    width:50px;
    height:50px;
    transform:rotate(45deg) translate(15%,-15%);

    margin:auto;

    border-bottom: 10px solid rgb(200,200,200);
    border-left: 10px solid rgb(200,200,200);
}

.leftbutton, .rightbutton
{
    margin-inline:5%;
    position: absolute;
    width:120px;
    height:120px;
    font-size:50px;;
    background:rgb(200,100,20);
    text-align: center;
    vertical-align: center;
    color:rgb(255,255,255);

    border:5px solid white;
    border-radius: 50%;

    transition-duration: 400ms;
    z-index: 10;
}

.hintedbutton {
    animation-name:wigglescale;
    animation-duration: 700ms;
    animation-timing-function: cubic-bezier(.8,.8,1,1);
    animation-fill-mode: forwards;
}

.leftbutton:hover, .rightbutton:hover {
    background-color: rgb(150,150,150);
}

.leftbutton
{
    left:0;
}

.rightbutton
{
    right:0;
}

.activehintarrow {
    transform:rotate(45deg) scale(1.5,1.5) translate(-.5cm,-.5cm);
    opacity:100%;
    transition-duration: 500ms;
}

a {
    font-display: bold;
    color:rgb(200,100,50);
}

a:visited
{
    color:rgb(200,200,200);
    font-display: italic;
}

.aboutme {
    background:rgba(50,50,50,.9);
    font-size:130%;
    padding:5%;
}

.aboutme > h1 {
    text-align: center;
}

.myworks {
    width:auto;
    height:800px;
    padding:none;
    padding-bottom:10%;
    overflow-y:hidden;
    overflow-x:hidden;

    border-top: solid orange 10px;
    border-bottom: solid orange 10px;
}

.myworks > h1 {
    margin:5%;

    font-size:500%;
    text-align: center;
}

.myworks > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.myworks > div > ul {
    width:auto;
    overflow-y:hidden;
    overflow-x:scroll;
    white-space: nowrap;
    width: 70%;
}

.myworks > div > ul > li {
    display:inline-block;

    height:500px;
    max-height:500px;
    min-width: 500px;

    background:rgb(200,100,20);
    

    margin-left:50px;
    margin-right:50px;

    border-radius:2%;

    filter: drop-shadow(-1cm 1cm 10px rgba(0,0,0,.3));
}

.myworks > div > ul > li > video, img, embed {
    display:block;

    margin-left:auto;
    margin-right:auto;

    width: auto;
    height:100%;

    background:rgb(200,100,20);
}

.myworks > div > ul > li > iframe {
    transform:scale(46.296296296%, 46.296296296%);
    transform-origin: top left;
    position: absolute;
}

.fullsizeworkbackground {
    width:889px
}

.imagedesc {
    position: absolute;
    background: rgb(50,50,50,.3);

    bottom:1px;
    left:0px;
    border-left: 5px solid white;

    width:450px;
    height:100px;
    padding:10px;
    white-space: wrap;
    overflow:hidden;

    transition-duration: 300ms;

    border-radius: 5%;
}

.imagedesc > p
{
    text-wrap: break-word;
    width:90%;
}

.imagedesc > h1 {
    margin-right: 50px;
    display: inline-block;
}

.imagedesc:hover {
    height:450px;
    background: rgb(50,50,50,.9);
    filter:blur(0px);
}

.awards {
    background: rgb(10,10,10);
    padding:5%;
}

.experience {
    background:rgb(30,30,30);
    padding:5%;
}

ul > li {
    font-size:150%;
    padding:1%;
}

.contactinfo {
    padding:5%;
}

.hiddenOpac {
    opacity:0%;
    filter:blur(100px);
    transition-duration: 1s;
}
.hiddenOpacIn {
    opacity:100%;
    filter:blur(0px);
}

.hiddenRight {
    transform:translate(500cm,0);
    transition-duration: 1s;
}
.hiddenRightIn {
    transform:translate(0,0);
}