/*
 * Skyler O'Bonsawin
 * January 11, 2025
 * This is the main style for the website.
*/

:root {
    --color-background-primary: rgb(50, 50, 50);
    --color-background-secondary: rgb(20,20,20);

    --color-primary: rgb(20,150,250);
    --glass-primary: rgba(20,150,250,.5);

    --color-secondary: rgb(0,10,20);
    --glass-secondary: rgba(0,10,20,.5);
    
    --color-highlight: rgb(220,220,255);
    --glass-highlight: rgba(220,220,255,.5);

    --color-content-header: rgb(255,255,255);
    --glass-content-header: rgba(255,255,255,.7);
    --color-content-text: rgb(255,255,255);

    --error: rgb(255,0,255); /*NOTE: the user should **NEVER EVER SEE THIS COLOUR** if the user sees this colour it means something has gone wrong with the website layout and something is showing that shouldn't.*/
}

html, body {
    margin:0;
    padding:0;

    box-sizing: border-box;

    background: var(--color-secondary);
}

body {
    color: var(--color-content-text);

    padding:none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*This is the animation that plays when you select an item on the navbar.*/
@keyframes highlightelement {
    100% {
        background: var(--color-primary);
    }
}
.highlightelement {
    animation: .5s both alternate highlightelement;
    animation-iteration-count: 6;
}

/*The following classes are for the navbar at the top of the screen*/
.navbar {
    position:sticky;
    z-index: 1000;
    top: 0px;
    height:100px;
    margin:none;
    padding:5px;
    background: var(--color-background-secondary);

    font-family: 'Courier New', Courier, monospace;
}

.navbar > .nameandpic {
    position: absolute;
    right: 30px;
    top:30px;
    height:auto;
}

.navbar > .nameandpic > h1{
    width:50px;
    height:100%;

    text-align: center;

    border-radius:50%;
    display:inline;
}

.navbar > ul {
    width:auto;
}

.navbar > ul > li {
    position:relative; 

    display:inline-block;
    padding:1%;

    cursor:pointer;

    color:var(--color-content-header);
    border-left: 3px var(--color-content-header) solid;

    transition: 500ms;
}

.navbar > ul > li::after {
    content:"";
    
    width:100%;
    height:100%;

    position:absolute;

    top:50%;
    left:50%;
    translate:-50% -50%;
    border: 5px var(--color-primary) solid;
    background-color: var(--glass-primary);

    scale:0% 0%;

    transition-duration: 500ms;
}

.navbar > ul > li:hover::after {
    scale: 100% 100%;
}

.navbar > ul > li:hover {
    display:inline-block;
    padding:1%;

    color:var(--color-primary);
    border-left: 3px var(--color-primary) solid ;
}

/*This is the line that shows how far through the page the user has scrolled*/
#pagescrollprogress {
    height:10px;
    width:0px;

    padding:none;
    margin:none;

    background-color: var(--glass-primary);

}

/*The following classes are for the header*/
header {
    position:relative;

    background-size:cover;
    margin:none;
    border:none;
    content:50%;
    padding:5%;
    overflow:hidden;

    background: var(--color-secondary);

    border-bottom: 10px solid var(--color-primary);
}

/*We use the property tag to define a variable here so that it can be animated by a keygrame*/
@property --borderrot{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/*This is the animation of the border that you see on the avitar image in the header*/
@keyframes rotateborder {
    0% {
        --borderrot: 0deg;
    }
    100% {
        --borderrot:360deg;
    }
}

header > div {
    width:30%;
    height:30%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

/*This is a wiggle animation that the avitar image does when clicked.*/
@keyframes wiggle {
    20%
    {
        transform: rotate(5deg);
    }
    40%
    {
        transform: rotate(-20deg);
    }
    60%
    {
        transform: rotate(30deg);
    }
    80%
    {
        transform: rotate(-20deg);
    }
    100% {}
}
.wiggle {
    animation-name:wiggle;
    animation-duration: 700ms;
    animation-timing-function: cubic-bezier(.8,.8,1,1);
    animation-fill-mode: forwards;
}


header > div > img {
    border-radius: 50%;
    width:100%;
    height:100%;
}

.glowbackground::after, .glowbackground::before {
    border-radius: 50%;

    content: "";
    position:absolute;
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    translate: -50% -50%;

    background: conic-gradient(from var(--borderrot), var(--color-primary), var(--color-secondary),var(--color-primary),var(--color-secondary),var(--color-primary));

    z-index: -1;
    padding:5px;
    animation: rotateborder forwards infinite 5s linear;
}
.glowbackground::before {
    scale:110%;
    filter:blur(70px);
}

header > h1 {
    text-align: center;
    font-size:600%;
    font-weight: bolder;

    color:var(--glass-content-header);
}

/*This down arrow is made visible if users get stuck on the header to show they can scroll*/
.downarrow {
    width:50px;
    height:50px;
    transform:rotate(45deg) scale(1.5,1.5) translate(-2cm,-2cm);

    border-bottom: 10px solid var(--glass-highlight);
    border-right: 10px solid var(--glass-highlight);
    margin-left:auto;
    margin-right:auto;
    opacity:0%;
}

/*The following classes are for the About Me section.*/

a {
    font-display: bold;
    color:var(--color-content-primary);
}

a:visited
{
    color:var(--color-content-text);
    font-display: italic;
}

.aboutme {
    background:var(--color-background-primary);
    font-size:130%;
    padding:5%;
}

.aboutme > h1 {
    text-align: center;
}

/*The following classes are for the My Works section.*/
.leftarrow, .rightarrow {
    transition-duration: 500ms;
    width:50px;
    height:50px;

    margin:auto;
}
.rightarrow {
    transform:rotate(45deg) translate(-15%,15%);

    border-top: 10px solid var(--color-highlight);
    border-right: 10px solid var(--color-highlight);
}

.leftarrow {
    transform:rotate(45deg) translate(15%,-15%);

    border-bottom: 10px solid var(--color-highlight);
    border-left: 10px solid var(--color-highlight);
}

.leftbutton:hover > .leftarrow, .rightbutton:hover > .rightarrow {
    border-color: var(--color-secondary);
}

/*This is an animation that the buttons do when they are first shown on the screen indicating that the My Works page can be navigated horizontally.*/
@keyframes wigglescale {
    20%
    {
        transform: scale(100%);
        background-color: var(--color-highlight);
    }
    40%
    {
        transform: scale(125%) rotate(-20deg);
        background-color: var(--color-highlight);
    }
    60%
    {
        transform: scale(150%) rotate(30deg);
        background-color: var(--color-highlight);
    }
    80%
    {
        transform: scale(125%) rotate(-20deg);
        background-color: var(--color-highlight);
    }
    100% {}
}


.leftbutton, .rightbutton
{
    margin-inline:5%;
    position: absolute;
    width:120px;
    height:120px;
    font-size:50px;;
    background:var(--color-primary);
    text-align: center;
    vertical-align: center;
    color:var(--color-content-text);

    border-radius: 50%;

    border:none;

    transition-duration: 500ms;
    z-index: 10;
}

.hintedbutton {
    animation-name:wigglescale;
    animation-duration: 700ms;
    animation-timing-function: cubic-bezier(.8,.8,1,1);
    animation-fill-mode: forwards;
}

.leftbutton:hover, .rightbutton:hover {
    background-color: var(--color-highlight);
    scale:105%;
}

.leftbutton
{
    left:0;
}

.rightbutton
{
    right:0;
}

.activehintarrow {
    transform:rotate(45deg) scale(1.5,1.5) translate(-.5cm,-.5cm);
    opacity:100%;
    transition-duration: 500ms;
}

.myworks {
    width:auto;
    height:1000px;
    padding:none;
    padding-bottom:10%;
    overflow-y:hidden;
    overflow-x:hidden;

    background:var(--color-background-secondary);

    border-top: solid var(--color-secondary) 10px;
    border-bottom: solid var(--color-secondary) 10px;
}

.myworks > h1 {
    margin:5%;

    font-size:500%;
    text-align: center;
}

.glow {
    filter:drop-shadow(0px 0px 10px var(--color-content-header));
}

.disabled {
    color: black;
    filter:none;
}

.myworks > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.myworks > div > ul {
    width:auto;
    overflow-y:show;
    overflow-x:scroll;
    white-space: nowrap;
    width: 50%;

    background-color: var(--color-secondary);

    padding-inline: 25%;

    border-top: 3px solid var(--color-highlight);
    border-bottom: 3px solid var(--color-highlight);

    filter:drop-shadow(0px 0px 10px var(--color-highlight));
}

.myworks > div > ul > li {
    position:relative;
    display:inline-block;

    height:500px;
    max-height:500px;
    min-width: 500px;
    

    margin-left:50px;
    margin-right:50px;

    border-radius:2%;
}

.blurredbackground {
    position:absolute;
    display:block;

    margin-left:auto;
    margin-right:auto;

    width: auto;
    height:100%;
    top:50%;
    left:50%;
    translate: -50% -50%;

    scale: 101%;
    z-index: -1;

    opacity: 50%;
    filter:blur(50px);
}

.myworks > div > ul > li > video, img {
    display:block;

    margin-left:auto;
    margin-right:auto;

    width: auto;
    height:100%;
}

.myworks > div > ul > li > iframe {
    transform:scale(46.296296296%, 46.296296296%);
    transform-origin: top left;
    position: absolute;
}

/*This is a classed used for the website iframe as it needs to be positioned absolutely*/
.fullsizeworkbackground {
    width:889px
}

.imagedesc {
    position: absolute;
    background: var(--glass-secondary);

    bottom:1px;
    left:10px;
    border-left: 5px solid var(--color-primary);

    width:450px;
    height:100px;
    padding:10px;
    white-space: wrap;
    overflow:hidden;

    transition-duration: 300ms;

    border-radius: 5%;
    z-index: 10;

    box-shadow: -5px 0px 20px var(--color-primary);
}

.imagedesc > p
{
    text-wrap: break-word;
    width:90%;
}

.imagedesc > h1 {
    margin-right: 50px;
    display: inline-block;
}

.imagedesc:hover {
    height:450px;
    background: var(--color-secondary);
    filter:blur(0px);
}
.imagedesc:hover > .uparrow {
    opacity:0%;
}
.uparrow {
    position: absolute;
    width:30px;
    height:30px;
    transform:rotate(45deg);
    top:50px;
    right:50px;

    border-top: 10px solid var(--color-highlight);
    border-left: 10px solid var(--color-highlight);
    margin-left:auto;
    margin-right:auto;
    transition-duration:500ms;
}
/*End of my works section.*/

.awards {
    background: var(--color-background-primary);
    padding:5%;
}

.experience {
    background: var(--color-background-secondary);
    padding:5%;
}

ul > li {
    font-size:150%;
    padding:1%;
}

.contactinfo {
    background: var(--color-secondary);
    padding:5%;
}

/*Visibility classes for animating on scroll.*/
.hiddenOpac {
    opacity:0%;
    filter:blur(100px);
    transition-duration: 1s;
}
.hiddenOpacIn {
    opacity:100%;
    filter:blur(0px);
}

.hiddenRight, .hiddenLeft, .hiddenDown {
    overflow: hidden;
}

.hiddenRight > *, .hiddenLeft > *, .hiddenDown > * {
    transition-duration: 1s;
    opacity: 0%;
}

.hiddenRight > * {
    transform:translate(100cm,0);
}
.hiddenLeft > * {
    transform:translate(-100cm,0);
}
.hiddenDown > * {
    transform:translate(0,100cm);
}
.hiddenTransformIn {
    opacity:100%;
    transform:translate(0,0);
}

@keyframes trailstar0 {
    0%{
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        translate: 5px 10px;
        opacity: 0%;
    }
}
@keyframes trailstar1 {
    0%{
        opacity: 0%;
    }
    20% {
        opacity: 100%;
    }
    40%{
        opacity: 20%;
    }
    60% {
        opacity: 100%;
    }
    80%{
        opacity: 20%;
    }
    100% {
        translate:-20px 10px;
        opacity: 0%;
    }
}
@keyframes trailstar2 {
    0%{
        opacity: 0%;
    }
    10% {
        opacity: 100%;
    }
    20% {
        opacity: 20%;
    }
    30% {
        opacity: 100%;
    }
    40%{
        opacity: 20%;
    }
    50% {
        opacity: 100%;
    }
    60% {
        opacity: 20%;
    }
    70% {
        opacity: 100%;
    }
    80%{
        opacity: 20%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        translate:30px -10px;
        opacity: 0%;
    }
}

.mousestartrail {
    position:absolute;

    width:20px;
    height: 20px;

    left:0px;
    top:0px;

    pointer-events: none;

    background: url("assets/images/Star.png");
    background-size:cover;
    filter:drop-shadow(0px 0px 10px var(--color-highlight));

    border-radius: 50%;

    mix-blend-mode: color-dodge;

    animation-fill-mode: forwards;
}
